.avatar {
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 25px;
}

.mini-avatar{
	border-radius: 50%;
	top: 10px;
	left: 10px;
	width: 32px;
	height: 32px;
	position: absolute;
}

.form-food{
	margin-top: 100px;
}